@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #0e0e0e;
  border-radius: 10rem;
}

::selection {
  background-color: #0e0e0e;
  color: #fff;
}

.active {
  text-decoration: underline;
}